@use './reset' as *;
@use './animation' as *;

$firstColor: #f79e00;
$secondColor: rgb(252, 248, 248);
$paragraphSizeNormal: 14px;
$paragraphSizePhone: 12px;
$h4SizeNormal: 16px;
$h4SizePhone: 14px;
$mdwidth: 50%;
$nettoColor: #f7d10c;
$bruttoColor: #2319f7;
$thirdColor: #2319f7;

html {
	scroll-padding-top: 69px;
	accent-color: '#317EFB';
}

body {
	font-family: 'Merriweather', sans-serif;
	position: relative;
}

.first-color {
	color: $firstColor;
}

.second-color {
	color: $secondColor;
}

.link-color {
	color: $thirdColor;
	transition: color 0.3s;
}

.link-color:hover {
	color: $firstColor;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
}

.underline {
	width: 60px;
	height: 4px;
	background-color: $firstColor;
	margin: 0 auto 15px auto;
}

.underline-third-color {
	width: 60px;
	height: 4px;
	background-color: $thirdColor;
	margin: 0 auto 15px auto;
	margin-bottom: 40px;
}

i {
	margin-top: 2rem;
	font-size: 35px;
}

// navigation

.navbar {
	text-transform: uppercase;
	transition: background-color 0.5s linear, opacity 0.5s linear;
	font-size: $paragraphSizePhone;

	a {
		color: $secondColor;
		padding: 2px;
	}

	.navbar-brand {
		margin-bottom: 12px;
		letter-spacing: 1px;
		transition: letter-spacing 0.3s linear;
	}

	.navbar-brand:hover {
		color: $secondColor;
		letter-spacing: 2px;
	}

	.fa-bars:hover {
		color: $firstColor;
	}
}

.nav-link {
	transition: color 0.5s linear;
}

.nav-link:hover {
	color: $firstColor;
}

.navbar-nav .nav-link.active {
	color: $firstColor;
}

.navbar-toggler {
	border: 1px solid $secondColor;
	i {
		font-size: 12px;
		margin-top: 0;
	}
}

.navbar-toggler:focus {
	border: 1px solid $firstColor;
	box-shadow: 0px 0px 5px 1px $firstColor;
	color: $firstColor;
}

.fa-bars {
	color: $secondColor;
	padding: 10px;
}

.shadow-bg {
	background-color: rgb(0, 0, 0);
	opacity: 90%;
}

.navbar-brand i {
	font-size: 12px;
}

// header
// home

header {
	height: 100%;
}

.home {
	height: 100%;
	width: 100%;
	background-image: url('../img/market-shopSmall.webp');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 0;
}

// button down

.fa-chevron-down {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	border: 2px solid $secondColor;
	border-radius: 50%;
	padding: 20px;
	color: $secondColor;
	box-shadow: 0px 0px 8px 2px $secondColor;
	transition: border-color 0.3s linear, color 0.3s linear, box-shadow 0.3s linear, transform 0.3s linear;
}

.fa-chevron-down:hover {
	border-color: $firstColor;
	color: $firstColor;
	box-shadow: 0px 0px 8px 2px $firstColor;
	transform: translate(-50%, -50%) scale(1.2, 1.2);
}

.bg {
	height: 100%;
	background-color: black;
	opacity: 60%;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: $secondColor;
	transform: translate(-50%, -50%);
	span {
		color: $firstColor;
	}
	h1 {
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	h3 {
		font-size: $paragraphSizePhone;
		text-transform: uppercase;
		line-height: 16px;
	}

	.btn-outline-light {
		width: 150px;
		margin: 15px 10px;
		border-color: $secondColor;
		color: $secondColor;
		padding: 10px 25px;
		transition: border-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
		font-size: $paragraphSizePhone;
		text-transform: uppercase;
	}

	.btn-outline-light:hover {
		border-color: $firstColor;
		color: $firstColor;
		background-color: transparent;
		box-shadow: 0px 0px 5px 0px $firstColor;
		transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	}
}

// aboutus

.aboutus {
	i {
		margin-top: 2rem;
		font-size: 35px;
	}

	h4 {
		font-size: $h4SizePhone;
		text-transform: uppercase;
	}

	p {
		font-size: $paragraphSizePhone;
	}
}

.aboutus-hover {
	transition: color 0.5s;
}

.aboutus-hover:hover {
	color: $firstColor;
	cursor: default;
}

// aboutus-hero

.aboutus-hero {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url('../img/elektronikaBig.webp');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 0;
	color: #ddd;
	z-index: 0;

	i {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		font-size: 35px;
	}

	h4 {
		font-size: $h4SizePhone;
		margin-top: 2rem;
		text-transform: uppercase;
	}

	p {
		font-size: $paragraphSizePhone;
	}
}

.aboutus-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 60%;
	z-index: -5;
}

.product-line-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 60%;
	z-index: -5;
}

// carousel

.md {
	width: 100%;
}

.devices {
	.carousel-item {
		position: relative;
		margin-top: 3rem;
	}
	.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		background-color: rgba($color: #858585, $alpha: 0.7);
		padding: 20px 0;

		h5 {
			font-size: $h4SizePhone;
			color: red;
			font-weight: 700;
		}

		p {
			font-size: $paragraphSizePhone;
		}

		a {
			color: $secondColor;
			transition: color 0.5s, letter-spacing 0.3s;
		}

		.netto {
			color: $nettoColor;
			font-weight: bold;
		}

		.brutto {
			color: $bruttoColor;
			font-weight: bold;
		}

		a:hover {
			color: $firstColor;
			letter-spacing: 0.5px;
		}
	}

	.carousel-indicators {
		padding-bottom: 10px;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		background-color: #a09494;
		opacity: 40%;
	}
}

.new {
	position: absolute;
	left: 5%;
	top: 1%;
	width: 100px;
	height: 100px;
	background-image: url('../img/nowosc.webp');
	background-size: cover;
}

// news

article {
	font-size: $paragraphSizePhone;
	text-align: center;
}

// contact form

.contact-form-input {
	width: 300px;
	border-radius: 10px;
	border: 1px solid $firstColor;
	padding: 4px;
	margin: 4px 0;
	font-size: $paragraphSizePhone;
	outline-color: $firstColor;
	background-color: transparent;
}

.contact-form-label {
	font-size: $paragraphSizePhone;
}

.contact-form-area {
	width: 300px;
	border-radius: 10px;
	border: 1px solid $firstColor;
	background-color: transparent;
	padding: 4px;
	margin: 4px 0;
	font-size: $paragraphSizePhone;
	outline-color: $firstColor;
}

.btn-outline-light {
	width: 90px;
	margin-top: 10px;
	margin-bottom: 50px;
	border: 1px solid;
	border-color: $firstColor;
	border-radius: 10px;
	background-color: transparent;
	color: $firstColor;
	padding: 6px 10px;
	transition: border-color 0.3s linear, transform 0.3s linear, box-shadow 0.3s linear;
	font-size: $paragraphSizePhone;
	text-transform: uppercase;
	outline-color: $firstColor;
}

.btn-outline-light:hover {
	border-color: $firstColor;
	color: $firstColor;
	background-color: transparent;
	box-shadow: 0px 0px 5px 0px $firstColor;
	transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}

.contact-item {
	font-size: $paragraphSizePhone;

	.underline-third-color{
		margin-bottom: 10px;
	}
	
}

// soft

.baner {
	margin-top: 30px;
}

.soft {
	font-size: $paragraphSizePhone;
}

.product-line {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url('../img/BinarySmall.webp');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 0;
	z-index: 0;
	color: $secondColor;
	img {
		width: 100px;
		margin: 15px 0;
	}
}

// partners

.partners {
	img {
		height: 50px;
		width: auto;
		padding: 10px 20px;
	}
}

// media

@media screen and (min-width: 990px) {
	nav {
		height: 69px;
	}

	.home {
		background-image: url('../img/market-shopBig.webp');
	}

	.title h3 {
		font-size: $paragraphSizeNormal;
	}

	.title .btn-outline-light {
		font-size: $paragraphSizeNormal;
	}

	// aboutus
	.aboutus {
		i {
			font-size: 40px;
		}

		h4 {
			font-size: $h4SizeNormal;
		}

		p {
			font-size: $paragraphSizeNormal;
		}
	}

	//  aboutus-hero

	.aboutus-hero {
		h4 {
			font-size: $h4SizeNormal;
		}

		p {
			font-size: $paragraphSizeNormal;
		}
	}

	// carousel

	.md {
		width: $mdwidth;
	}
	.devices {
		.carousel-caption {
			h5 {
				font-size: $h4SizeNormal;
			}

			p {
				font-size: $paragraphSizeNormal;
			}
		}
	}

	// news

	article {
		font-size: $paragraphSizeNormal;
	}

	// contact form

	.contact-form-input,
	.contact-form-label,
	.contact-form-area,
	.btn-outline-light {
		font-size: $paragraphSizeNormal;
	}

	.contact-item {
		font-size: 18px
	}
	

	// soft

	.soft {
		font-size: $paragraphSizeNormal;
		overflow: hidden;
	}

	.product-line {
		background-image: url('../img/BinaryBig.webp');

		img {
			width: 200px;
		}
	}
}
